@model IEnumerable<CinemaManager.Models.Cinema.Movie>


@{
    ViewData["Title"] = "SearchBy2";
}

<h1>SearchBy2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
</p>
@using (Html.BeginForm())
{
    <p>
        title: @Html.TextBox("titre")<br />
        genre: @Html.DropDownList("genre", "all")
        <input type="submit" value="Find" />

    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Genre
            </th>
            <th>
                Producer Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>